{% extends 'base.html.twig' %}

{% block title %}
    Votre panier
{% endblock %}

{% block body %}
    <div class="bg-light p-3">
        <h1>Your cart</h1>
    </div>

    {% if items | length > 0 %}
        <table class="table">
            <thead>
                <tr>
                    <th>Artist</th>
                    <th>Picture</th>
                    <th>Title</th>
                    <th>Unit price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                    <tr>
                        <td>{{ item.product.artist}}</td>
                        <td><img src="{{ item.product.pictures[0].url}}" height="100px" widht="100px"></td>
                        <td>{{ item.product.title }}</td>
                        <td>{{ item.product.price }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.product.price * item.quantity }}</td>
                        <td>
                            <a href="{{ path('cart_remove', {'id': item.product.id}) }}" class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4" class="text-right">
                        Total :
                    </th>
                    <th>{{ total }}</th>
                    <th></th>
                </tr>
            </tfoot>
        </table>
        <button type="submit" id="checkout-button">Checkout</button>

    {% else %}
        <p> It's empty !</p>
    {% endif %}

{% endblock %}

{% block javascripts %}

    <script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe("pk_live_51I2xgzDEHZhwUvxLmhiGaJdGbkH9kUjl81CdH4x51bRugXJbSDl8HXzuc9u3vN3fG9U3IBxWSf5S5kkpOE6jy3yh00gFs8CuoU");
    var checkoutButton = document.getElementById("checkout-button");
    checkoutButton.addEventListener("click", function () {
      fetch("/create-checkout-session", {
        method: "POST",
      })
        .then(function (response) {
          return response.json();
        })
        .then(function (session) {
          return stripe.redirectToCheckout({ sessionId: session.id });
        })
        .then(function (result) {
          // If redirectToCheckout fails due to a browser or network
          // error, you should display the localized error message to your
          // customer using error.message.
          if (result.error) {
            alert(result.error.message);
          }
        })
        .catch(function (error) {
          console.error("Error:", error);
        });
    });
  </script>

{% endblock %}