{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}

{% block body %}

<div class="container">
   
</div>

<div class="container-fluid">

  <div class="row">
      {% for product in products %}
      <div class="card-body col-lg-3 product-card">
          <div class="card">
              <a href="{{ product.id }}"><img class="card-img-top" src="{{ product.pictures[0].url }}" alt="Card image cap"></a>
              <div class="card-body">
              <h5 class="card-title">{{ product.title }} - {{ product.artist }}</h5>
              <p class="card-title product-price">{{ product.price }} $ <a href="{{ path('cart_add', { 'id' : product.id }) }}"><button type="button" class="btn btn-primary btn-lg">Add to cart</button></a></p>
          </div>
          </div>
      </div>
      {% endfor %}
  </div>
</div>
{% endblock %}
